body {
    margin: 0 auto;
    background-image: url(../images/pedal-background.png);
}

h2 {
    font-size: 20px;
}

.container {
    background-color: white;
    width: 80%;
    margin: 20px auto;
    border-radius: 10px;
    padding: 40px;
}

.underscoresArea {
    border: 2px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    font-size:40px;
}

.rightGuess {
    border: 2px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    padding: 20px;
    height: 200px;
    border-radius: 10px;
}

.wrongGuess {
    border: 2px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    padding: 20px;
    height: 200px;
    border-radius: 10px;
}

.guessesRemaining {
    border: 2px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    padding: 20px;
    height: 200px;
    border-radius: 10px;
}

.getHint {
    border: 2px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    padding: 20px;
    height: 200px;
    border-radius: 10px;
}

.getHintButton {
    width: 90%;
    padding: 20px;
}