body {
    margin: 0 auto;
    background-image: url(../images/pedal-background.png);
}

h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

h3 {
    margin-top: 20px;
    margin-bottom: 20px;
}

h4 {
    margin-top:0px;
}

.knockout {
    background: url(../images/pedal-background.png);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-weight: bold;
    font-size: 80px;
    margin: 10px auto;
    text-align: center;
  }

.container {
    background-color: white;
    width: 80%;
    margin: 20px auto;
    border-radius: 10px;
    padding: 40px;
    -moz-box-shadow: 2px 2px 2px 2px rgba(68, 68, 68, 0.3);
    -webkit-box-shadow: 2px 2px 2px 2px rgba(68, 68, 68, 0.3);
    box-shadow: 2px 2px 2px 2px rgba(68, 68, 68, 0.3);
}

.titleText {
    text-align: center;
}

.underscoresArea {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    font-size:40px;
    height: 100px;
    -moz-box-shadow: 2px 2px 2px 2px rgba(68, 68, 68, 0.3);
    -webkit-box-shadow: 2px 2px 2px 2px rgba(68, 68, 68, 0.3);
    box-shadow: 2px 2px 2px 2px rgba(68, 68, 68, 0.3);
}

.winsArea {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    height: 100px;
    -moz-box-shadow: 2px 2px 2px 2px rgba(68, 68, 68, 0.3);
    -webkit-box-shadow: 2px 2px 2px 2px rgba(68, 68, 68, 0.3);
    box-shadow: 2px 2px 2px 2px rgba(68, 68, 68, 0.3);
}

.rightGuess {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    padding: 20px;
    height: 200px;
    border-radius: 10px;
    -moz-box-shadow: 2px 2px 2px 2px rgba(68, 68, 68, 0.3);
    -webkit-box-shadow: 2px 2px 2px 2px rgba(68, 68, 68, 0.3);
    box-shadow: 2px 2px 2px 2px rgba(68, 68, 68, 0.3);
}

.wrongGuess {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    padding: 20px;
    height: 200px;
    border-radius: 10px;
    -moz-box-shadow: 2px 2px 2px 2px rgba(68, 68, 68, 0.3);
    -webkit-box-shadow: 2px 2px 2px 2px rgba(68, 68, 68, 0.3);
    box-shadow: 2px 2px 2px 2px rgba(68, 68, 68, 0.3);
}

.guessesRemaining {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    padding: 20px;
    height: 200px;
    border-radius: 10px;
    -moz-box-shadow: 2px 2px 2px 2px rgba(68, 68, 68, 0.3);
    -webkit-box-shadow: 2px 2px 2px 2px rgba(68, 68, 68, 0.3);
    box-shadow: 2px 2px 2px 2px rgba(68, 68, 68, 0.3);
}

.getHint {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    padding: 20px;
    height: 200px;
    border-radius: 10px;
    -moz-box-shadow: 2px 2px 2px 2px rgba(68, 68, 68, 0.3);
    -webkit-box-shadow: 2px 2px 2px 2px rgba(68, 68, 68, 0.3);
    box-shadow: 2px 2px 2px 2px rgba(68, 68, 68, 0.3);
}

.getHintButton {
    width: 90%;
    font-size: 10px;
    background-color: #ff0000;
    border: none;
    padding: 10px;
}

.getHintButton:hover {
    background-color: #ff5555;
    border: none;
}

.btn-success:active {
    background-color: #ff5555;
    border: none;
}

.visitorsPlayerBox {
    display: block;
    margin: 0 auto;
    font-size: 19px;
}

@media screen and (max-width: 800px) {
.knockout {
    background: url(../images/pedal-background.png);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-weight: bold;
    font-size: 40px;
    margin: 10px auto;
    text-align: center;
  }
}